<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.vdisk.cn/wxhbts/pangu1.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://app.wxhbts.com/yueyu1/pangu.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ppjb.tools.carrier.gr-3b9034361da211094e35eb2aa9f6cd858fd45e87-1469685148.18</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>PP盘古越狱</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
